.header {
  position: sticky;
  position: fixed;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 100; }
  .header .logo {
    display: inline-block;
    margin-left: 2rem; }
  .header .navbar {
    display: inline-block;
    font-size: 1.072rem;
    padding: 1.5rem;
    position: absolute;
    margin-top: -1rem; }
    .header .navbar ul li {
      display: inline-block; }
      .header .navbar ul li a {
        text-decoration: none;
        color: #fff;
        padding: 0.3rem 1.2rem; }
        .header .navbar ul li a:hover {
          border: 1px solid lightskyblue;
          border-radius: 20px;
          color: lightskyblue;
          transition: 0.3s; }
  .header__right {
    font-size: 1.072rem;
    color: #fff;
    margin: 0 2rem; }
    .header__right--search {
      padding: 0.5rem 1rem;
      background-color: #999;
      color: #fff;
      border: none;
      border-radius: 20px;
      outline: none; }
      .header__right--search::placeholder {
        color: #fff; }
    .header__right i {
      margin: 0 0.5rem; }
      .header__right i.fa-angle-down:hover {
        cursor: pointer;
        color: lightskyblue;
        transform: scale(1.1);
        transition: 0.5s; }
    .header__right p {
      display: inline-block; }

.title__container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem 1rem 1rem;
  color: #fff; }
  .title__container h2 {
    font-size: 1.32rem; }

.fa-ellipsis,
.fa-angle-right {
  color: #fff;
  font-size: 1.2rem; }

.fa-angle-left {
  font-size: 1.32rem;
  color: #666; }

.fa-ellipsis:hover,
.fa-angle-right:hover,
.fa-angle-left:hover {
  cursor: pointer;
  color: lightblue;
  transform: scale(1.05);
  transition: 0.3s; }

.icon-arrow {
  font-size: 1.072rem;
  color: #fff; }

.container {
  width: 80%;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  font-size: 62.5%;
  background-color: #333;
  box-sizing: border-box; }

.flow__box {
  display: flex;
  justify-content: space-between; }
  .flow__box--picture {
    width: 32%;
    border-radius: 5px; }
    .flow__box--picture:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: 0.3s; }

.plated {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }
  .plated__box img {
    width: 93%; }
    .plated__box img:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: 0.3s; }
    .plated__box img + p {
      color: #fff;
      margin: 0.5rem; }
  .plated__box i,
  .plated__box i + p {
    display: inline-block;
    color: #999;
    margin: 0 0 0 0.5rem; }
  .plated__box i:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: #fff;
    cursor: pointer; }
  .plated__box i:active {
    transform: scale(2);
    color: #fff; }

.play {
  width: 95%;
  margin: 2rem auto; }
  .play img {
    width: 100%;
    border-radius: 5px; }

.border-radius {
  border-radius: 7px; }
