.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10rem;
  align-items: center;
  height: 100%;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.grid6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
