* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-size: 62.5%;
  background-color: #333;
  box-sizing: border-box;
}

// Flow section

.flow {
  &__box {
    display: flex;
    justify-content: space-between;

    &--picture {
      width: 32%;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.3s;
      }
    }
  }
}

// /Flow section

// Recently plated section

.plated {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__box {
    img {
      width: 93%;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.3s;
      }

      + p {
        color: #fff;
        margin: 0.5rem;
      }
    }

    i,
    i + p {
      display: inline-block;
      color: #999;
      margin: 0 0 0 0.5rem;
    }

    i:hover {
      transform: scale(1.1);
      transition: 0.2s;
      color: #fff;
      cursor: pointer;
    }

    i:active {
      transform: scale(2);
      color: #fff;
    }
  }
}

// /Recently plated section
