* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-size: 62.5%;
  background-color: #333;
  box-sizing: border-box;
  padding: 2.2rem 0 6.2rem 0;
}

p {
  font-size: 0.8rem;
}

// Flow section

.flow {
  &__box {
    display: flex;
    justify-content: space-between;

    &--picture {
      width: 32%;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.3s;
      }
    }
  }
}

// /Flow section

// Recently plated section

.plated {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__box {
    img {
      width: 93%;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.3s;
      }

      + p {
        color: #fff;
        margin: 0.5rem;
      }
    }

    i,
    i + p {
      display: inline-block;
      color: #999;
      margin: 0 0 0 0.5rem;
    }

    i:hover {
      transform: scale(1.1);
      transition: 0.2s;
      color: #fff;
      cursor: pointer;
    }

    i:active {
      transform: scale(2);
      color: #fff;
    }
  }
}

// /Recently plated section

// Play section

// /Play section

//Music section

.border-radius {
  border-radius: 7px;
}

// /Music section

.fa-heart {
  font-size: 0.8rem;
}

.title__container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem 1rem 1rem;
  color: #fff;

  h2 {
    font-size: 1.32rem;
  }
}

.fa-ellipsis,
.fa-angle-right {
  color: #fff;
  font-size: 1.2rem;
}

.fa-angle-left {
  font-size: 1.32rem;
  color: #666;
}

.fa-ellipsis,
.fa-angle-right,
.fa-angle-left {
  &:hover {
    cursor: pointer;
    color: lightblue;
    transform: scale(1.05);
    transition: 0.3s;
  }
}

.icon-arrow {
  font-size: 1.072rem;
  color: #fff;
}

.center {
  text-align: center;
}

.home__link {
  border: 1px solid lightskyblue;
  border-radius: 20px;
}

.play {
  width: 95vw;
  height: 5rem;
  background-color: #555;
  position: relative;
  position: fixed;
  top: 87.5%;
  left: 2vw;
  z-index: 500;
  border-radius: 1rem;
}
