.title-top {
  margin-top: 2rem;
}

.background-mellon {
  width: 100vw;
  height: 155vh;
  background-image: url("../img/BG-.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2.5rem;
}
