// Background

.rock-background {
  width: 100vw;
  height: 100%;
  background-image: url(../img/BG-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2.5rem;
}

.header {
  background-color: rgba(#000, 0.9) !important;
}

// Background

// Rock link

.rockLink {
  display: flex;
  align-items: center;
  color: #f0f0f0;
  padding: 8rem 0 0rem 2rem;
  margin-bottom: -2rem;

  .roklink-bottom {
    color: lightskyblue;
    border-bottom: 1px solid lightskyblue;
  }

  h1 {
    font-size: 3.2rem;
    margin-right: 1rem;
  }

  ul {
    li {
      display: inline-block;
      margin-left: 1rem;

      a {
        font-size: 0.85rem;
        text-decoration: none;
        color: #f0f0f0;
        padding-bottom: 1rem;

        &:hover {
          border-bottom: 1px solid lightskyblue;
          color: lightskyblue;
          padding-bottom: 1rem;
        }
      }
    }
  }
}

// /Rock link
