// Background

.background-img {
  width: 100vw;
  height: 155vh;
  background-image: url("../img/BG-5.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2.5rem;
}

.startalk-header {
  opacity: 0.7;
}

// /Background

.search-episode {
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}

.talk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8rem;
  &__left {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--box {
      color: #fff;

      p,
      h2 {
        margin: 1rem 0;
      }

      :nth-child(2) {
        font-size: 2.6rem;
      }

      :nth-child(4) {
        margin: 2rem 1rem 0 0;
        display: inline-block;
        font-size: 1.4rem;
        padding-bottom: 0.6rem;
        border-bottom: 2px solid lightskyblue;
      }

      :last-child {
        display: inline-block;
        font-size: 1.4rem;
        padding-bottom: 0.6rem;
        &:hover {
          cursor: pointer;
          border-bottom: 2px solid lightskyblue;
          transition: 0.3s;
        }
      }

      p {
        font-size: 1rem;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;

    .play-button {
      text-decoration: none;
      font-size: 0.8rem;
      color: #fff;
      padding: 0.5rem 3rem;
      border-radius: 20px;
      background-image: linear-gradient(
        to right,
        lightskyblue,
        rgb(77, 7, 243)
      );

      &:hover {
        transition: 0.3s;
        transform: scale(1.05);
        background-image: linear-gradient(
          to right rgb(77, 7, 243),
          lightskyblue
        );
      }

      &:active {
        transform: scale(1.1);
      }
    }

    &--like {
      font-size: 1rem;
      border-radius: 50%;
      padding: 0.3rem;
      border: 1px solid #fff;
      color: lightskyblue;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.3s;
      }

      &:active {
        transform: scale(1.3);
      }
    }

    &--ellipsed {
      font-size: 1rem;
      border: 1px solid #fff;
      padding: 0.3rem 0.4rem;
      border-radius: 50%;
    }
  }
}

.episode-1:hover {
  background-color: #333;
  transition: 0.3s;
  transform: scale(1.035);
  transition: 0.3s;
  cursor: pointer;
  i {
    font-size: 1.1rem;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.3);
      color: lightskyblue;
    }

    &:active {
      transition: 0.05s;
      transform: scale(1.5) rotate(90deg);
      color: lightskyblue;
    }
  }

  h2 {
    font-size: 1rem;
    transition: 0.3s;
  }

  p {
    color: #e9e9e9;
    font-size: 0.81rem;
    transition: 0.3s;
  }
}

.episode-1:active {
  i {
    transition: 0.05s;
    transform: scale(1.5) rotate(90deg);
    color: lightskyblue;
  }
}

.episode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  width: 80%;
  height: 5rem;
  border-radius: 10px;
  padding: 1rem 0.6rem;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

    &--left {
      margin-right: 1rem;
      color: #e9e9e9;
      font-size: 1rem;
    }

    &--right {
      color: #e9e9e9;

      p {
        color: #a0a0a0;
        line-height: 1.2rem;
        margin-top: 0.5rem;
      }
    }

    &--right0 {
      position: absolute;
      left: 13%;
    }
  }

  &__progress {
    width: 6rem;
    height: 0.2rem;
    border-radius: 5px;
    background-color: #a0a0a0;
    color: #e9e9e9;
  }

  &__progress0 {
    margin-top: -1rem;
    font-size: 0.7rem;
    background-color: none;
    height: 0;
  }

  &__uploadd {
    width: 10%;
    color: #a0a0a0;
    display: flex;

    p {
      margin-left: 2rem;
    }

    h2 {
      color: #e9e9e9;
    }
  }

  &__time {
    width: 4%;
    color: #a0a0a0;

    h2 {
      color: #e9e9e9;
    }
  }
}
